{% load static %}
{% load i18n %}
<div id="pre-loader">
    <img src="{% static 'assets/images/loader.gif' %}" alt="Loading..."/>
</div>
<div class="pageWrapper">
    <!--Search Form Drawer-->
    <div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="searched" value="" placeholder="Search entire store..."
                       aria-label="Search" autocomplete="off">
            </form>
            <button type="submit" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
        </div>
    </div>
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 col-sm-8 col-md-5 col-lg-4">
                    <form class="form-inline" action="{% url 'selectlanguage' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language" onchange="submit()"
                                style="border: none; width: 120px; height: 30px; background-color: black;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        <noscript>
                            <input type="submit" value="Set"/>
                        </noscript>
                    </form>
                    <p class="phone-no"><i class="anm anm-phone-s"></i> +440 0(111) 044 833</p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 d-none d-lg-none d-md-block d-lg-block">
                    <div class="text-center"><p
                            class="top-header_middle-text">{% trans 'Worldwide Express Shipping' %}</p></div>
                </div>
                <div class="col-2 col-sm-4 col-md-3 col-lg-4 text-right">
                    <span class="user-menu d-block d-lg-none"><i class="anm anm-user-al" aria-hidden="true"></i></span>
                    <ul class="customer-links list-inline">
                        <li><a href="{% url 'login_form' %}">{% trans 'Login' %}</a></li>
                        <li><a href="{% url 'register' %}">{% trans 'Create Account' %}</a></li>
                        {% if user.id is not None %}
                            <li><a href="{% url 'client'%}">{% trans 'My account' %}</a></li>
                        {% else %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header-->
    <!--Header-->
    <div class="header-wrap classicHeader animated d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'assets/images/logo.svg' %}" alt="Belle Multipurpose Html Template"
                             title="Belle Multipurpose Html Template"/>
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <nav class="grid__item" id="AccessibleNav"><!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu">
                                <a href="{% url 'index' %}">{% trans 'Home' %} <i class="anm anm-angle-down-l"></i></a>
                            </li>
                            <li class="lvl1 parent megamenu"><a href="#">{% trans 'Category' %}<i
                                    class="anm anm-angle-down-l"></i></a>
                                <div class="megamenu style4">
                                    <ul class="grid grid--uniform mmWrapper">
                                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#"
                                                                                          class="site-nav lvl-1">{% trans 'Category' %}</a>
                                            <ul class="subLinks">
                                                {% for rs in category %}
                                                    <li class="lvl-2"><a href="{% url 'category_product' rs.id rs.slug %}" class="site-nav lvl-2">{{ rs.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'about_us' %}">{% trans 'Aboutus' %} <i
                                    class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'blog' %}">{% trans 'Blog' %} <i
                                    class="anm anm-angle-down-l"></i></a>
                            </li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'faq' %}">{% trans "FAQ's" %} <i
                                    class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu"><a href="{% url 'contactus' %}">{% trans 'Contactus' %} <i
                                    class="anm anm-angle-down-l"></i></a></li>
                        </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/images/logo.svg' %}" alt="Belle Multipurpose Html Template"
                                 title="Belle Multipurpose Html Template"/>
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        {% if user.id is not None %}
                            <a href="{% url 'shopcart'%}" class=""><i class="icon anm anm-bag-l fa-2x"></i></a>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header-->
    <!--Mobile Menu-->
    <div class="mobile-nav-wrapper" role="navigation">
        <div class="closemobileMenu"><i class="icon anm anm-times-l pull-right"></i> Close Menu</div>
        <ul id="MobileNav" class="mobile-nav">
            <li class="lvl1 parent megamenu"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
            <li class="lvl1 parent megamenu"><a href="#">{% trans 'Category' %} <i class="anm anm-plus-l"></i></a>
                <ul>
                    {% for rs in category %}
                        <li><a href="{% url 'category_product' rs.id rs.slug %}" class="site-nav">{{ rs.title }}<i
                                class="anm anm-plus-l"></i></a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="lvl1 parent megamenu"><a href="{% url 'about_us' %}">{% trans 'Aboutus' %}</a></li>
            <li class="lvl1 parent megamenu"><a href="{% url 'blog' %}">{% trans 'Blog' %}</a></li>
            <li class="lvl1 parent megamenu"><a href="{% url 'faq' %}">{% trans "FAQ's" %}</a></li>
            <li class="lvl1 parent megamenu"><a href="{% url 'contactus' %}">{% trans 'Contact' %}</a></li>
        </ul>
    </div>
</div>
